body {
  background-color: #ecf0f1;
  color: #34495e;
}

.btn {
  cursor: pointer;
}

h1 {
  color: #266cd6;
}

.clicked {
  color: #34495e;
}

.color {
  color: fuchsia;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}
