body {
  height: 100vh;
  background-image: url('img/santo.jpg');
  background-repeat : no-repeat;
  background-size : cover;

}

.btn {
  cursor: pointer;
}

h1 {
  color: #266cd6;
}

.clicked {
  color: white;
}

.color {
  color: fuchsia;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}
.js-clock h1{
  color: white;
  font-size: 150px;
  margin-top: 250px;
  margin-bottom: 10px;
  text-align: center;
}
.js-greetings{
  font-size: 50px;
  text-align: center;
  color: white;
}

.js-toDoForm{
  text-align: center;
}
.js-toDoForm input{
  text-align: center;
}
.js-toDoList{
  text-align: center;
  list-style: none;
}
.js-toDoList li{
  padding: 5px;
  color: white;
  font-size: 20px;
}